@use "../_utils/utils" as *;

/// -----------------------------------------------------------------------------
/// 🟢 Button
///
/// @author Leighton Quito (iamleigh.com)
/// -----------------------------------------------------------------------------
@include block(button) {
	cursor: pointer;
	width: auto;
	position: relative;
	display: block;
	margin: 0;
	padding: 20px 30px;
	border: 1px solid transparent;
	border-radius: 3px;
	outline: none;
	font-weight: $font-weight-lg;
	font-size: 20px;
	line-height: 22px;
	letter-spacing: 0;
	text-align: center;
	transition: 0.2s ease;

	* {
		user-select: none;
		pointer-events: none;
	}

	&:hover {
		text-decoration: none;
	}

	// Element: Group
	@include element(group) {
		max-width: 630px;
		display: grid;
		gap: 20px;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: auto;
		margin: 0 auto;

		@include bp(min-width, sm) {
			gap: 50px;
			grid-template-columns: repeat(2, 1fr);
		}
	}

	// Modifier: Primary Design
	@include modifier(primary) {
		border-color: shade($color-primary, 20%);
		background: $color-primary;
		color: $color-neutral-100;

		&:hover {
			background: shade($color-primary, 20%);
		}

		&:focus {
			background: $color-primary;
			box-shadow: 0 0 0 1px #FFF, 0 0 0 3px $color-primary;
		}
	}

	// Modifier: Secondary Design
	@include modifier(secondary) {
		border-color: $color-neutral-70;
		background: $color-neutral-100;
		color: $color-neutral-30;

		&:hover {
			background: $color-neutral-70;
		}

		&:focus {
			background: $color-neutral-100;
			box-shadow: 0 0 0 2px #FFF, 0 0 0 4px $color-neutral-70;
		}
	}

	// Modifier: A11y Design
	// This design is made specifically for all buttons
	// accessible through screen readers.
	@include modifier(a11y) {
		position: absolute;
		top: -1000em;
		left: 20px;
		margin: 0;
		padding: 10px 20px;
		border-color: shade($color-secondary, 20%);
		background: $color-neutral-100;
		color: $color-secondary;
		font-size: 16px;

		&:hover,
		&:focus {
			background: $color-secondary;
			color: $color-neutral-100;
		}

		&:focus {
			top: 20px;
			box-shadow: 0 0 0 1px #FFF, 0 0 0 3px $color-secondary;
		}
	}
}
