@use "../_utils/utils" as *;

/// -----------------------------------------------------------------------------
/// 🟢 Button
///
/// @author Leighton Quito (iamleigh.com)
/// -----------------------------------------------------------------------------
@include block(button) {
	cursor: pointer;
	width: auto;
	position: relative;
	display: block;
	margin: 0 0 20px;
	padding: 20px 30px;
	border: 1px solid transparent;
	border-radius: 3px;
	font-weight: $font-weight-lg;
	font-size: 20px;
	line-height: 22px;
	letter-spacing: 0;
	text-align: center;
	transition: 0.2s ease;

	* {
		user-select: none;
		pointer-events: none;
	}

	&::before {
		// Bypass outline issue with Safari (2022+)
		content: "";
		opacity: 0;
		position: absolute;
		top: -6px;
		right: -6px;
		bottom: -6px;
		left: -6px;
		display: block;
		border: 2px solid $color-primary;
		border-radius: 6px;
		transition: 0.2s ease;
	}

	&:hover {
		text-decoration: none;
	}

	&:focus {
		// Bypass outline issue with Safari (2022+)
		outline: none;

		&::before {
			// Bypass outline issue with Safari (2022+)
			opacity: 1;
		}
	}

	&:last-child {
		margin-bottom: 0;
	}

	// @include bp(min-width, md) {
	// 	flex: 1;
	// 	margin: 0 25px;

	// 	&:first-child {
	// 		margin-left: 0;
	// 	}

	// 	&:last-child {
	// 		margin-right: 0;
	// 	}
	// }

	// Element: Group
	@include element(group) {
		max-width: 670px;

		// @include bp(min-width, md) {
		// 	display: flex;
		// 	flex-flow: row wrap;
		// 	align-items: center;
		// 	justify-content: space-between;
		// }
	}

	// Modifier: Primary Design
	@include modifier(primary) {
		border-color: shade($color-primary, 20%);
		background: $color-primary;
		color: $color-neutral-100;

		&:hover {
			background: shade($color-primary, 20%);
		}

		&:focus {
			background: $color-primary;
		}
	}

	// Modifier: Secondary Design
	@include modifier(secondary) {
		border-color: $color-neutral-70;
		background: $color-neutral-100;
		color: $color-neutral-30;

		&::before {
			border-color: $color-neutral-70;
		}

		&:hover {
			background: $color-neutral-70;
		}

		&:focus {
			background: $color-neutral-100;
		}
	}

	// Modifier: A11y Design
	// This design is made specifically for all buttons
	// accessible through screen readers.
	@include modifier(a11y) {
		position: fixed;
		top: -1000em;
		left: 20px;
		margin: 0;
		padding: 10px 20px;
		border-color: shade($color-secondary, 20%);
		background: $color-secondary;
		color: $color-neutral-100;
		font-size: 16px;

		&:focus {
			top: 20px;

			&::before {
				border-color: $color-secondary;
			}
		}
	}
}
