@use "../_utils/utils" as *;

/// -----------------------------------------------------------------------------
/// 🟢 Header
///
/// @author Leighton Quito (iamleigh.com)
/// -----------------------------------------------------------------------------
@include block(header) {
	@include element(title) {
		margin-top: 3px;
	}

	@include element(group) {
		width: 100%;
		max-width: 630px;
		margin: 0 auto;
	}
}
