@use "../_utils/utils" as *;

/// -----------------------------------------------------------------------------
/// 🟢 Header
///
/// @author Leighton Quito (iamleigh.com)
/// -----------------------------------------------------------------------------
@include block(header) {
	@include element(title) {
		margin-top: 3px;
	}

	@include element(group) {
		max-width: 670px;

		&:last-child {
			margin-bottom: 0;
		}

		@include bp(min-width, sm) {
			max-width: 730px;
			margin-bottom: 40px;
		}
	}
}
