@use "../_utils/utils" as *;

/// -----------------------------------------------------------------------------
/// 🟢 Video
///
/// @author Leighton Quito (iamleigh.com)
/// -----------------------------------------------------------------------------
@include block(video) {
	position: relative;

	&::after {
		content: " ";
		width: 100%;
		height: 50%;
		position: absolute;
		z-index: 0;
		left: 0;
		bottom: 0;
		display: block;
		background: $color-neutral-100;
	}

	@include element(content) {
		width: 100%;
		padding-bottom: 56.25%;
		position: relative;
		display: block;
	}

	@include element(iframe) {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
	}
}
